@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;

}

#logo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

li {
    list-style: none;
}

#main-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.125rem;
}

#logo h1{
    color: rgb(196, 0, 0);
    font-size: 2.5rem;
}

#hero-content {
    width: 83%;
}

#hero{
    background-image: url("Imagens/Hero.jpeg.jpg");
    background-position: center;
    color: #f0f0fa;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background-color: rgb(0, 0, 0, 0.65);
    padding: 10rem 0;
}

#hero-content h2{
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.05;
    margin-bottom: 0.5rem;
}

#hero-content p {
    font-size: 1.375rem;
    margin-top: 1.5rem;
    line-height: 1.3;
}

#main-content {
    display: flex;
    gap: 4rem;
    margin: 5rem auto;
}

#articles{
    flex: 3
}

#sidebar{
    flex: 1;
}

#articles-items{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.articles-card {
    width: 25%;
    flex-grow: 1;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 5px #ccc;
    background-color: #f9f9f9;
}

.articles-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.articles-title{
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
}

.articles-title h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.articles-content{
    margin: 1rem 1rem 2rem 1rem ;
}

.articles-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles-header h3{
    font-weight: 400;
    font-size: 1.5rem;
}

.articles-description,
.sidebar-card p {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    margin: 0.75rem 0;
}

.see-more-button {
    font-size: 1.125rem;
    color: #333;
}